body{
    background-color: black;
    color:white;
    font-family: 'Press Start 2P', cursive;
}

#pg-heading{
    font-family: 'Press Start 2P', cursive;
    height:200px;
    text-align:center;
    /*font-family: 'Big Shoulders Stencil Display', cursive;*/
    font-size:30px;
    color:white;
    display:flex;
    justify-content: center;

}
#logo{
     background:url(/assets/images/pixeldice.png);
     height:200px;
     width:200px;
     margin-right:100px;
     /*position: absolute;
     right: 150px;
     top: 25px;*/
     
     

}

#logo1{
    background:url(/assets/images/pixeldice.png);
    height:200px;
    width:200px;
    margin-left:100px;
    /*position: absolute;
    left: 150px;
    top: 25px;*/

}


#image-container{
    
    margin: 0 auto;
    width:80%;
    position:relative;
    height:1000px;
}

#image1{
    
    height:700px;
    width:700px;
    margin: 0 auto;
    right:50px;
    top:250px;
    background:url(/assets/images/pixeltvresize.png) center center no-repeat;

}

#image2{
    border: 0.5px solid gray;
    height:350px;
    width:250px;
    position:absolute;
    left:150px;
    top:50px;
}

#image3{
    border: 0.5px solid gray;
    height:150px;
    width:150px;
    position:absolute;
    left:200px;
    top:500px;
}

#start-btn{
    
    /*height:50px;
    width:100px;*/
    position: absolute;
    
    bottom: 150px;
    left: 10%;
    
}

#rules-btn{
    
   /* max-height:150px;
    max-width:300px;*/
    position: absolute;
    /*width: 100px;*/
    bottom: 150px;
    right: 10%;
    

}

#quiz-container{
    background:url(/assets/images/pixelframe1100x900.png) center center no-repeat;
    display:block;
    height:1000px;
   /* text-align:center;
    position:relative;*/
    display: flex;
    
    justify-content: center;
    align-items: center
}

#quiz{
    height:500px;
    width: 700px;
    /*border:solid 1px white;*/
    justify-content: center;
    display:flex;
    align-items: center;
    display:grid;
    font-family: 'Press Start 2P', cursive;
    
}
#quiz-questions{

  	letter-spacing: 1px;
 	animation: typing 3s steps(30, end), blink .75s step-end infinite;
    white-space:initial;
    font-weight: 700;
    border-right: 4px solid orange;
    
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color:white; 
    }
}

.btn{
    color:white;
    font-family: 'Press Start 2P', cursive;
    background:black;
    border:0.5px solid gray;
    padding:10px;
    border-radius:5px;
    margin:10px
}

.btn:hover{
    border:1.5px solid white;
}

.btn-grid{
    display:grid;
    grid-template-columns: repeat(2,auto);
    gap:10px;
}

#reset-btn{
    text-align:center;
}

#questions{
    color:aqua;
}

.hide{
    display:none;
}

#start-quiz{
    font-size: 30px;
}